{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "microservice for receiving feedback about tella in all platforms",
        "title": "Tella feedback",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "API Support",
            "url": "https://wearehorizontal.org"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "api.feedback.tella-app.org",
    "basePath": "/",
    "paths": {
        "/opinions": {
            "get": {
                "description": "Get list of all opinions",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "opinions"
                ],
                "summary": "Get opinions",
                "parameters": [
                    {
                        "type": "string",
                        "description": "query params",
                        "name": "X-Tella-Feedback",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.Opinion"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "post": {
                "description": "Create new opinion and send email",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "opinions"
                ],
                "summary": "Create opinion",
                "parameters": [
                    {
                        "type": "string",
                        "description": "query params",
                        "name": "X-Tella-Feedback",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "tella params",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/opinions.AddOpinionRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Opinion"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        }
    },
    "definitions": {
        "gorm.DeletedAt": {
            "type": "object",
            "properties": {
                "time": {
                    "type": "string"
                },
                "valid": {
                    "description": "Valid is true if Time is not NULL",
                    "type": "boolean"
                }
            }
        },
        "models.Opinion": {
            "description": "Opinion model",
            "type": "object",
            "properties": {
                "createdAt": {
                    "type": "string"
                },
                "deletedAt": {
                    "$ref": "#/definitions/gorm.DeletedAt"
                },
                "id": {
                    "type": "integer"
                },
                "platform": {
                    "type": "string"
                },
                "text": {
                    "type": "string"
                },
                "updatedAt": {
                    "type": "string"
                }
            }
        },
        "opinions.AddOpinionRequestBody": {
            "description": "Create opinion request with text and platform",
            "type": "object",
            "required": [
                "platform",
                "text"
            ],
            "properties": {
                "platform": {
                    "type": "string",
                    "enum": [
                        "IOS",
                        "ANDROID",
                        "WEB"
                    ]
                },
                "text": {
                    "type": "string"
                }
            }
        }
    },
    "securityDefinitions": {
        "BasicAuth": {
            "type": "basic"
        }
    },
    "externalDocs": {
        "description": "OpenAPI",
        "url": "https://swagger.io/resources/open-api/"
    }
}